.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #C5C6C7;
  background-color: #1F2833;
}